// Configuration

@import '@govtechsg/sgds/sass/functions';
@import '@govtechsg/sgds/sass/variables';
@import '@govtechsg/sgds/sass/mixins';
@import '@govtechsg/sgds/sass/utilities';
$enable-cssgrid: true;
$primary: #3fb247;
$progress-bar-bg: $primary;
$primarys: (
  'primary-100': #52e85c,
  'primary-200': #4dd956,
  'primary-300': #39a340,
  'primary-400': #3ba442,
  'primary-500': #3fb247,
  'primary-600': #308636,
  'primary-700': #1b4a1e,
  'primary-800': #0f2b11,
  'primary-900': #020502,
);
$custom-secondarys: (
  'primary-100': rgb(170, 170, 235),
  'primary-200': rgb(111, 111, 241),
  'primary-300': rgb(91, 91, 239),
  'primary-400': rgb(42, 42, 216),
  'primary-500': blue,
  'primary-600': rgb(14, 14, 192),
  'primary-700': rgb(9, 9, 104),
  'primary-800': rgb(1, 1, 44),
  'primary-900': rgb(0, 0, 4),
);

$secondarys: map-merge($secondarys, $custom-secondarys);

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
$theme-colors-set: map-merge(
  $theme-colors-set,
  (
    'primary': $primarys,
    'secondary': $secondarys,
  )
);

$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  '$key',
  'text'
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'bg');

@import '@govtechsg/sgds/sass/sgds';
