html {
  box-sizing: border-box;
  font-family: sans-serif; /* Set a default font family */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}