// $sidebar-width: 300px;
// html {
//   box-sizing: border-box;
// }
// body {
//   margin: 0;
//   padding: 0;
// }
// .appBody {
//   display: flex;
//   height: calc(100vh - 30px);
//   overflow-y: scroll;

//   .content:not(:last-child) {
//     margin-bottom: 0px !important;
//   }
//   .componentList {
//     overflow-x: hidden;
//     flex: 1;
//     height: 100%;
//     overflow-y: auto;
//     background-color: rgb(244, 247, 251);
//     padding: 1.5rem;
//     .elementTitle {
//       font-size: 20px;
//       font-weight: 600;
//       padding: 0 0.7rem;
//       padding-top: 50px;
//     }
//     .elementTitle:first-child {
//       padding-top: 0px;
//     }
//     & div {
//       padding: 0.5rem;
//     }
//     .navbar {
//       margin: 10px 0.7rem;
//       .sgds-container {
//         padding: inherit;
//         .navbar-menu {
//           padding: inherit;
//           .navbar-item.has-dropdown {
//             padding: inherit;
//           }
//         }
//       }
//     }
//     .button-row {
//       padding: 10px 0.7rem;
//       max-height: 110px;
//       .sgds-button {
//         margin-right: 15px;
//       }
//     }
//     .sgds-breadcrumb li {
//       margin-top: 0px !important;
//     }
//     blockquote {
//       ul {
//         list-style: inherit;
//       }
//     }
//     .slider {
//       & div {
//         padding: 0 !important;
//       }
//     }
//   }
//   .componentList::-webkit-scrollbar {
//     display: none;
//   }
//   .template {
//     flex: 1 1;
//     height: 100%;
//     overflow-y: auto;
//     overflow-x: hidden;
//     padding: 1.5rem;
//     background: lightslategrey;
//   }
//   .sideBar {
//     order: 1;
//     flex-shrink: 0;
//     // width: 400px;
//     height: 100%;
//     border-left: 1px solid #dfe3e6;
//     padding: 0px;
//     display: flex;

//     .elementList {
//       height: 100%;
//       width: 140px;
//       padding: 10px 5px;
//       overflow-y: auto;
//       display: none;
//       .listItem {
//         padding: 5px;
//         a {
//           color: inherit;
//           padding: 3px;
//         }
//       }
//     }
//     .elements {
//       background-color: #f9f9f9;
//       width: 260px;
//       overflow-y: auto;
//       .buttonGroup {
//         padding: 5px 10px;
//         .colorPicker:first-child {
//           padding-top: 0px;
//         }
//         .colorPicker {
//           padding: 10px 0 0 0;
//           .color-preview {
//             position: absolute;
//             width: 20px;
//             height: 20px;
//             border-radius: 5px;
//             z-index: 1;
//             transform: translate(960%, -128%);
//           }
//         }
//         .inputTitle:first-child {
//           margin-top: 0px;
//         }
//         .inputTitle {
//           margin-top: 15px;
//         }
//         .inputField {
//           padding: 0.5rem;
//           border: 1px solid #d9d9d9;
//           border-radius: 0.5rem;
//         }
//         .resetBtn {
//           color: #1890ff;
//           font-size: 10px;
//           position: absolute;
//         }
//         .color {
//           text-align: left;
//           padding: 0.5rem;
//           border: 1px solid #d9d9d9;
//           border-radius: 0.5rem;
//         }
//       }
//     }
//     & div {
//       padding: 0px;
//     }
//     & label {
//       padding: 0px;
//       input {
//         margin-left: 5px;
//       }
//     }
//   }
//   .sideBar::-webkit-scrollbar {
//     display: none;
//   }
// }
// .appBody::-webkit-scrollbar {
//   display: none;
// }
